@charset "utf-8";


/* ======================================
[ RESET ]
====================================== */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
p,
th,
td,
a {
margin: 0;
padding: 0;
font-size: 100%;
}

body {
line-height: 1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
display: block;
}

strong, em {
font-weight: normal;
}

dl, ul, ol {
text-indent: 0;
display: list-item;
list-style-type: none;
}

dfn {
font-style: normal;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

img {
border: 0;
padding: 0;
display: block;
}

hr {
display: block;
border: 0;
margin: 0;
padding: 0;
}

select, input {
font-size: 100%;
vertical-align: middle;
}

a {
vertical-align: middle;
text-decoration: none;
}

span {
display: inline;
padding: 0;
}



/* ======================================
[ BASE ]
====================================== */

body {
color: #000;
}

#container {
width: 1237px;
margin-top: 10px;
margin-left: 10px;
/*background-color: #f8fdf0;*/
border: 2px solid #a9db80;
border-top: 3px solid #a9db80;
}

hr {
height: 4px;
/*background-color: #a9db80;*/
}

.Button1,
.Button2 {
font-weight: bold;
border: 1px solid #8bcf54;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
background: #c3f2ac;
background: -moz-linear-gradient(top,  rgba(227,242,172,1) 0%, rgba(195,242,172,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,242,172,1)), color-stop(100%,rgba(195,242,172,1)));
background: -webkit-linear-gradient(top,  rgba(227,242,172,1) 0%,rgba(195,242,172,1) 100%);
background: -o-linear-gradient(top,  rgba(227,242,172,1) 0%,rgba(195,242,172,1) 100%);
background: -ms-linear-gradient(top,  rgba(227,242,172,1) 0%,rgba(195,242,172,1) 100%);
background: linear-gradient(to bottom,  rgba(227,242,172,1) 0%,rgba(195,242,172,1) 100%);
-pie-background: linear-gradient(#e3f2ac, #c3f2ac);
behavior: url(PIE.htc);
position:relative;
}

.Button1 {
padding: 2px 30px;
}

.Button2 {
padding: 1px;
padding-right: 3px;
padding-left: 3px;
}

input[type="text"] {
display: inline-block;
margin: 0 3px;
border: 1px solid #000;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
behavior: url(PIE.htc);
position:relative;
_display: inline; /* IE6 */
_zoom: 1; /* IE6 */
}



/* ======================================
[ ヘッダー ]
====================================== */

.t_header {
width: 100%;
height: 72px;
min-height: 72px;
max-height: 72px;
/*border-top: 3px solid #a9db80;*/
border-bottom: 2px solid #a9db80;
}

.title {
display: inline-block;
font-size: 120%;
font-weight: bold;
margin-left: 10px;
_display: inline; /* IE6 */
_zoom: 1; /* IE6 */
}

.description {
display: inline-block;
margin-left: 5px;
_display: inline; /* IE6 */
_zoom: 1; /* IE6 */
}

/* IE7 */
*:first-child+html .title,
*:first-child+html .t_header td input,
*:first-child+html .description {
display: inline;
zoom: 1;
}

.pd_01 {
padding: 5px 10px 3px 0;
}

.pd_02 {
padding: 0 10px 5px 0;
}

.td1 {
text-align: right;
padding-right: 10px;
}

.td1 #Button1 {
padding: 5px 40px;
margin: 0 auto;
}



/* ======================================
[ 1段目 ]
====================================== */

.tbl_01 {
width: 100%;
}

.tbl_01 td {
text-align: center;
padding: 15px 10px;
}



/* ======================================
[ 2段目 ]
====================================== */

.box_01 {
height: 232px;
margin: 0 10px;
overflow-y: auto;
_width: 98%; /* IE6 */
}

.tbl_02 {
width: 100%;
background-color: #fff;
}

.tbl_02 th,
.tbl_02 td {
border: 1px solid #999999;
}

.tbl_02 th {
padding: 3px 10px;
background-color: #c0e3a3;
}

.tbl_02 td {
padding: 5px 10px;
}

.active {
background-color: #b1e0fd;
}

/* ======================================
[ 3段目 ]
====================================== */

.box_02 {
height: 327px;
margin: 0 10px;
overflow-y: auto;
}

#code {
font-size: 120%;
font-weight: bold;
margin: 10px 0 5px;
}

.table_left {
float: left;
width: 50%;
}

.table_right {
float: right;
width: 50%;
}

.table_left th,
.table_right th {
padding: 4px 0;
text-align: left;
}

.table_left td,
.table_right td {
padding: 4px 0;
}

.short_01 {
width: 50px !important;
}

.th_01 {
vertical-align: top;
}

.th_02 {
text-align: right !important;
padding-right: 3px !important;
}

/* ======================================
[ フッター ]
====================================== */

#footer {
height: 40px;
margin-top: 10px;
margin-left: 10px;
width: 60%;
text-align: center;
}

#footer td {
width: 25%;
}

#footer #Button1 {
padding: 5px 40px;
}

.f_td1 {
text-align: left;
}

.f_td2 {
text-align: right;
padding-right: 3px;
}

.f_td3 {
text-align: left;
padding-left: 3px;
}

.f_td4 {
text-align: right;
}

/* ========================================
 * +modalWindow
======================================== */
.modalWindow {
  display: none;
  width: 90%;
  heigth:750px;
  min-width: 550px;
  margin: 0 auto;
  padding: 10px;
  position: absolute;
  z-index: 110;
  background-color: #fff;
}
.modalWindow.fixed {
  width: 1237px;
}
.modalBody {
  background-color: #fff;
  border: 2px solid #a9db80;
  border-top: 3px solid #a9db80;
}
#blackLayer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  opacity: .8;
  filter: alpha(opacity=80);
  z-index: 100;
  display: none;
}

/* ========================================
 * +modalWindowError
======================================== */
.modalWindowError {
  display: none;
  width: 90%;
  heigth:750px;
  min-width: 400px;
  margin: 0 auto;
  padding: 10px;
  position: absolute;
  z-index: 110;
  background-color: #fff;
}
.modalWindowError.fixed {
  width: 400px;
}
.modalBodyError {
  background-color: #fff;
  border: 2px solid #acf3f9;
  border-top: 3px solid #acf3f9;
}
#whiteLayer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  opacity: .8;
  filter: alpha(opacity=80);
  z-index: 100;
  display: none;
}
.box_error_floadting_content {
width: 100%;
background-color: #fff;
}

.box_error_floadting_content th,
.box_error_floadting_content td {
border: 1px solid #fbc4c4;
}

.box_error_floadting_content th {
padding: 3px 10px;
background-color: #c0e3a3;
}

.box_error_floadting_content td {
padding: 5px 10px;
}

/* ======================================
[ 検索子画面 ]
====================================== */

.box_common_search_t_header {
width: 100%;
height: 72px;
min-height: 72px;
max-height: 72px;
}

.box_common_search {
height: 575px;
margin: 0 10px;
overflow-y: auto;
_width: 98%; /* IE6 */
}

.box_common_search_header {
width: 100%;
}

.box_common_search_header_td01 {
width: 25%;
text-align: right;
padding: 15px 10px;
}

.box_common_search_header_td02 {
width: 135px;
padding: 15px 10px;
}

.box_common_search_header_td03 {
text-align: left;
}

.box_common_search_header_td04 {
text-align: right;
padding: 15px 10px;
}

.box_common_search_content {
width: 100%;
background-color: #fff;
}

.box_common_search_content th,
.box_common_search_content td {
border: 1px solid #999999;
}

.box_common_search_content th {
padding: 3px 10px;
background-color: #c0e3a3;
}

.box_common_search_content td {
padding: 5px 10px;
}

.box_common_search_footer {
height: 40px;
margin: 0 10px;
overflow-y: auto;
_width: 98%; /* IE6 */
}

span.Button1 a {
display: inline;
padding: 5px 30px 5px !important;
position: relative;
top: 2px;
top: 1px\9;
text-decoration: none;
color: #000;
font-size: 100%;
font-weight: bold;
border: 1px solid #8bcf54;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
background: #c3f2ac;
background: -moz-linear-gradient(top,  rgba(227,242,172,1) 0%, rgba(195,242,172,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,242,172,1)), color-stop(100%,rgba(195,242,172,1)));
background: -webkit-linear-gradient(top,  rgba(227,242,172,1) 0%,rgba(195,242,172,1) 100%);
background: -o-linear-gradient(top,  rgba(227,242,172,1) 0%,rgba(195,242,172,1) 100%);
background: -ms-linear-gradient(top,  rgba(227,242,172,1) 0%,rgba(195,242,172,1) 100%);
background: linear-gradient(to bottom,  rgba(227,242,172,1) 0%,rgba(195,242,172,1) 100%);
-pie-background: linear-gradient(#e3f2ac, #c3f2ac);
behavior: url(PIE.htc);
position:relative;
}

span.Button1 {
display: inline-block;
padding: 0;
background: none;
-pie-background: none;
behavior: url(PIE.htc);
border: none;
}